<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Smart On FHIR App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Secure Servers
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ url_for('launch') }}">Epic Launch</a>
              <a class="dropdown-item" href="{{ url_for('launch2') }}">Secure Server Launch</a>
              <a class="dropdown-item" href="{{ url_for('epic') }}">Patient Profile</a>
            </div>
        </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Patient
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">                            
              <a class="dropdown-item" href="{{ url_for('listpatients') }}">List Patient</a>              
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('reset') }}">Reset Auth</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container mt-4">
      {% block content %}
      {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>