{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1 class="display-4">Patient List</h1>

<table class="table">
    <thead>
    <tr class="font-weight-bold">
        <td>ID</td>
        <td>Patient Name</td>
        <td>Gender</td>
        <td>Action</td>
    </tr>
     {% for patient in patientlist: %}
        <tr>
            <td>{{ patient.id }}</td>
            <td>{{ patient.name[0].family }} {{ patient.name[0].given[0] }}</td>
            <td>{{ patient.gender }}</td>
            <td><a href="/getob?patientId={{patient.id}}"> List Observation</a></td>
        </tr>
	{% endfor %}
    </thead>

</table>

{% endblock %}