{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1 class="display-4">Observation List</h1>

<table class="table">
    <thead>
    <tr class="font-weight-bold">
        <td>ID</td>
        <td>Effective Period</td>
        <td>Status</td>
        <td>Issued</td>
    </tr>
     {% for observation in observationlist: %}
        <tr>
            <td>{{ observation.id }}</td>
            <td>{{ observation.status }}</td>
            <td>{{ observation.effectiveDateTime }}</td>
            <td>{{observation.issued}}</td>
        </tr>
	{% endfor %}
    </thead>

</table>

{% endblock %}