{% extends 'layout.html' %}

  {% block content %}
 <h2>{{ action }} {{ resource_type|capitalize }}</h2>
  <form method="POST">
    {% if resource_type == 'observation' %}
      <label>Status</label>
      <input class="form-control" name="status" value="{{ resource['status'] if resource }}">
      <label>Code</label>
      <input class="form-control" name="code" value="{{ resource['code']['text'] if resource }}">
      <label>Value</label>
      <input class="form-control" name="value" value="{{ resource['valueString'] if resource }}">
    {% elif resource_type == 'goal' %}
      <label>Description</label>
      <input class="form-control" name="description" value="{{ resource['description']['text'] if resource }}">
      <label>Status</label>
      <input class="form-control" name="status" value="{{ resource['lifecycleStatus'] if resource }}">
    {% elif resource_type == 'condition' %}
      <label>Code</label>
      <input class="form-control" name="code" value="{{ resource['code']['text'] if resource }}">
      <label>Status</label>
      <input class="form-control" name="status" value="{{ resource['clinicalStatus']['text'] if resource }}">
    {% elif resource_type == 'careplan' %}
      <label>Title</label>
      <input class="form-control" name="title" value="{{ resource['title'] if resource }}">
      <label>Status</label>
      <input class="form-control" name="status" value="{{ resource['status'] if resource }}">
      <label>Intent</label>
      <input class="form-control" name="intent" value="{{ resource['intent'] if resource }}">
    {% elif resource_type == 'medicationrequest' %}
      <label>Medication</label>
      <input class="form-control" name="medication" value="{{ resource['medicationCodeableConcept']['text'] if resource }}">
      <label>Status</label>
      <input class="form-control" name="status" value="{{ resource['status'] if resource }}">
      <label>Intent</label>
      <input class="form-control" name="intent" value="{{ resource['intent'] if resource }}">
    {% elif resource_type == 'immunization' %}
      <label>Vaccine</label>
      <input class="form-control" name="vaccine" value="{{ resource['vaccineCode']['text'] if resource }}">
      <label>Status</label>
      <input class="form-control" name="status" value="{{ resource['status'] if resource }}">
      <label>Date</label>
      <input class="form-control" type="date" name="date" value="{{ resource['occurrenceDateTime'] if resource }}">
    {% endif %}
    <button class="btn btn-primary mt-3" type="submit">{{ action }}</button>
    <a href="{{ url_for('view_patient_details', patient_id=patient_id) }}" class="btn btn-secondary mt-3">Cancel</a>
  </form>

      {% endblock %}