{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1 class="display-4">Patient Details</h1>

	<form method="POST" action="{{ url_for('search') }}">
		<div class="row">
			<div class="col-2">
				<label for="name">Patient Id:</label>
			</div>
			<div class="col-2">
				<input type="text" id="patientId" name="patientId" required>
			</div>
		</div>
		<div class="row">
			<div class="col-2">
			</div>
			<div class="col-4">
				<input type="submit" value="Send" class="btn btn-success">
			</div>
		</div>
	</form>

{% if success %}
    <div class="row">
		<div class="col">
			{{patient.name}}
		</div>
		<div class="col">
			{{patient.gender}}
		</div>
		<div class="col">
			{{patient.birthDate}}
		</div>
    </div>
	<div class="row mt-5">
		<div class="col">
			{{patient.serialize()}}
		</div>
	</div>
{% endif %}

{% endblock %}